In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
    
import time
import pandas as pd

import requests
import pymongo 
    
driver=webdriver.Firefox(executable_path='C:\webdrivers2\geckodriver.exe')

In [46]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population")
#drop a level from mulitilevel index column

df[0].columns = df[0].columns.droplevel()

In [47]:
df[0].drop(columns=['2010','April 1, 2010[9]','%[c]','Absolute','Seats','%','Est. pop. perelectoral vote,2019[a]','Est. 2019','2010','2010','Change,2010â€“2019','% of ElectoralCollege'],inplace=True)

In [58]:
State_df=df[0]
State_df.dropna(inplace=True)

In [59]:
State_df.rename(columns={"EstimatedJuly 1, 2019[8]": "Population","Current": "Rank/Population"},inplace=True)

In [66]:
State_df.Population= State_df.Population.apply(lambda x: x.split('[')[0])

In [67]:
State_df

    Rank/Population                     State Population
0               1.0                California   39512223
1               2.0                     Texas   28995881
2               3.0                   Florida   21477737
3               4.0                  New York   19453561
4               5.0              Pennsylvania   12801989
5               6.0                  Illinois   12671821
6               7.0                      Ohio   11689100
7               8.0                   Georgia   10617423
8               9.0            North Carolina   10488084
9              10.0                  Michigan    9986857
10             11.0                New Jersey    8882190
11             12.0                  Virginia    8535519
12             13.0                Washington    7614893
13             14.0                   Arizona    7278717
14             15.0             Massachusetts    6892503
15             16.0                 Tennessee    6829174
16             17.0                   Indiana    6732219
17             18.0                  Missouri    6137428
18             19.0                  Maryland    6045680
19             20.0                 Wisconsin    5822434
20             21.0                  Colorado    5758736
21             22.0                 Minnesota    5639632
22             23.0            South Carolina    5148714
23             24.0                   Alabama    4903185
24             25.0                 Louisiana    4648794
25             26.0                  Kentucky    4467673
26             27.0                    Oregon    4217737
27             28.0                  Oklahoma    3956971
28             29.0               Connecticut    3565287
29             30.0                      Utah    3205958
30             31.0               Puerto Rico    3193694
31             32.0                      Iowa    3155070
32             33.0                    Nevada    3080156
33             34.0                  Arkansas    3017804
34             35.0               Mississippi    2976149
35             36.0                    Kansas    2913314
36             37.0                New Mexico    2096829
37             38.0                  Nebraska    1934408
38             39.0             West Virginia    1792147
39             40.0                     Idaho    1787065
40             41.0                    Hawaii    1415872
41             42.0             New Hampshire    1359711
42             43.0                     Maine    1344212
43             44.0                   Montana    1068778
44             45.0              Rhode Island    1059361
45             46.0                  Delaware     973764
46             47.0              South Dakota     884659
47             48.0              North Dakota     762062
48             49.0                    Alaska     731545
49             50.0      District of Columbia     705749
50             51.0                   Vermont     623989
51             52.0                   Wyoming     578759
52             53.0                      Guam    168,485
53             54.0       U.S. Virgin Islands    106,235
54             55.0  Northern Mariana Islands     51,433
55             56.0            American Samoa     49,437